//colors

$primary-black: #323232;
$primary-silver: #afafaf;
$primary-white: #ffffff;
$secondary-darkblack: #000000;
$secondary-mercury: #e1e1e1;
$secondary-alabaster:#fafafa;

// background color
$header-background: #323232;
$footer-background: #323232;

// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;