//colors

$primary-first: #323232;
$primary-second: #afafaf;
$primary-third: #ffffff;
$secondary-first: #000000;
$secondary-second: #e1e1e1; 
$secondary-third:#fafafa; 

// background color
$header-background: #323232;
$footer-background: #323232;

// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;