@use './partials/variable' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;


//hero section//

.hero {
    background-image: url(../Assets/images/hero-bio.jpg);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 90%;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    padding: 0rem 1rem;
    display: flex;
    @include tablet {
        padding: 0rem 2.25rem;
        height: 60vh;
    }
    @include desktop {
        height: 70vh;
        padding: 0rem 9.375rem;
    }

    &__title {
        @include mobile-hero-header {
            margin: 0rem;
            color: $primary-third;
            align-self: center;
        }
        @include tablet {
            @include tablet-desktop-hero-header;
        }
    }
}

.introduction {
    padding: 0rem 1rem;
    
    &__title {
        @include mobile-section-header {
            margin: 0px;
            padding: 1.5rem 0rem .5rem;
        }
        @include tablet {
            @include tablet-desktop-section-header;
            padding: 2.25rem 1rem .75rem;
        }
        @include desktop {
            padding: 2.25rem 8.375rem .75rem;
        }
    }

    &__img {
        width: 100%;
        padding: .5rem 0rem;
        @include tablet {
            padding: .75rem 4.625rem;
        }
        @include desktop {
            padding: .75rem 13.75rem;
        }
    
        &--text {
            margin: 0px;
            font-size: .875rem;
            line-height: 1.375rem;
            font-weight: 700;
            padding: .5rem 0rem;
            @include tablet {
                font-size: 1.5rem;
                line-height: 1.375rem;
                font-weight: 700;
                padding: .75rem 4.625rem;
            }
            @include desktop {
                padding: .75rem 13.75rem;
                width: 90%;
            }
        }

        &--signature {
            margin: 0rem;
            font-size: .875rem;
            line-height: 1.375rem;
            font-weight: 700;
            padding: .5rem 0rem;
            @include tablet {
                font-size: 1.125rem;
                line-height: 1.375rem;
                font-weight: 600;
                padding: .75rem 4.625rem;
            }
            @include desktop {
                padding: .75rem 13.75rem;
            }
        }
    }    
}

.biography {
    padding: 0rem 1rem;
    @include tablet {
        padding: .75rem 5.625rem;
    }
    @include desktop {
        padding: .75rem 14.75rem;
    }
    &__title {
        @include mobile-sub-header {
            margin: 0rem;
            padding: .5rem 0rem; 
        }
        @include tablet {
            @include tablet-desktop-sub-header;
            padding: .75rem 0rem;
        }
    }

    &__content {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__paragraph {
        @include mobile-bodycopy {
            margin: 0rem;
            padding: .5rem 0rem;    
        }
        @include tablet {
            @include tablet-desktop-bodycopy {
                width: 47%;
            }  
        }
    }
}

.gallery {
    background-color: $secondary-third;
    padding: 0rem 1rem;
    @include tablet {
        padding: 0rem 2.25rem;
    }
    @include desktop {
        padding: 0rem 9.375rem;
    }
    &__title {
        @include mobile-section-header {
            margin: 0rem;
            padding: 1.5rem 0rem .5rem;
        }
        @include tablet {
            @include tablet-desktop-section-header;
            padding: 2.25rem 0rem .875rem;
        }
    }

    &__images {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: .875rem;
        }
    }

    &__images > img {
        width: 100%;
        padding: .5rem 0rem;
        @include tablet {
            width: 31%;
            padding: .75rem 0rem;
        }
    }

    &__image {
        filter: grayscale(100%);
        &:hover {
            filter: none;
        }
    }
}

.conversation {
    padding: 0rem 1rem;
    
    @include tablet {
        padding: 0rem 2.25rem;
        
    @include desktop {
        padding: 0rem 9.375rem;
        }
    }

    &__title {
        @include mobile-section-header;
        margin: 0rem;
        padding: 1.5rem 0rem .5rem;
        
        @include tablet {
            @include tablet-desktop-section-header;
        }
    }

    &__container {
        display: flex;
        border-bottom: 1.5px solid $secondary-second;
        
        @include tablet { 
        margin: 0rem 3.75rem;
        }
        
        @include desktop {
            margin: 0rem 15rem;
        }
    }

    &__muhan-muruge-image {
        padding-top: 1.75rem;
        margin-right: 1rem;
    }

    &__muhan-muruge-image > img {
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: 30%;
        
        @include tablet {
            height: 3rem;
            width: 3rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width:100%;
    }

    &__name {
        padding: 0.5rem 0rem;
    }

    &__label {
        color: $primary-second;
        font-family: 'AvenirNext LT Pro', Arial, Helvetica, sans-serif;
        font-size: 0.625rem;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0.25rem 0rem;
        
        @include tablet {
            font-size: 0.75rem;
        }
    }

    &__input {
        height: 2.25rem;
        width: 100%;
        border: 1.5px solid $secondary-second;
        border-radius: 4px;
        padding: 0.75rem;
        
        @include tablet {
            height: 3rem;
            padding: 1rem;
        }
        
        &--comment {
            height: 6.25rem;
        }
    }

    &__comment__btn {
        background-color: $primary-first;
        text-align: center;
        color: $primary-third;
        padding: 0.625rem;
        border-radius: 0.25rem;
        margin: 1rem 0rem;
        height: 2.5rem;
        text-transform: uppercase;
        font-size: 0.875;
        font-weight: 600;
        border: none;
        
        @include tablet {
            width: 9.375rem;
            padding: 0.625rem 2rem;
            margin-left: auto;
        }
    }
}

.comment {
    padding: 0px 1rem;
    
    @include tablet {
        padding: 0rem 6rem;
    
    @include desktop {
        padding: 0rem 24.375rem;
        }
    }

    &__item {
        border-bottom: 1.5px solid $secondary-second;
        padding-top: 1rem;
        display: flex;
    }

    &__user__image {
        margin-right: 1rem;
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        background-color: $secondary-second;
        
        @include tablet {
            height: 3rem;
            width: 3rem;
        }
    }

    &__info {
        flex: 1;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        font-size: 0.8125rem;
        @include tablet {
            font-size: 0.875rem;
        }
    }

    &__user__name {
        margin: 0px;
        color: $primary-first;
        font-weight: 600;
    }

    &__date {
        margin: 0px;
        color: $primary-second;
        font-weight: 400;
    }

    &__text {
        @include mobile-bodycopy;
    }
}