@use './partials/variable' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;


//hero section//

.hero {
    background-image: url(../Assets/images/hero-bio.jpg);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 90%;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    padding: 0rem 1rem;
    display: flex;
    @include tablet {
        padding: 0rem 2.25rem;
        height: 60vh;
    }
    @include desktop {
        height: 70vh;
        padding: 0rem 9.375rem;
    }

    &__title {
        @include mobile-hero-header {
            margin: 0rem;
            color: $primary-white;
            align-self: center;
        }
        @include tablet {
            @include tablet-desktop-hero-header;
        }
    }
}

.introduction {
    padding: 0rem 1rem;
    
    &__title {
        @include mobile-section-header {
            margin: 0px;
            padding: 1.5rem 0rem .5rem;
        }
        @include tablet {
            @include tablet-desktop-section-header;
            padding: 2.25rem 1rem .75rem;
        }
        @include desktop {
            padding: 2.25rem 8.375rem .75rem;
        }
    }

    &__img {
        width: 100%;
        padding: .5rem 0rem;
        @include tablet {
            padding: .75rem 4.625rem;
        }
        @include desktop {
            padding: .75rem 13.75rem;
        }
    
        &--text {
            margin: 0px;
            font-size: .875rem;
            line-height: 1.375rem;
            font-weight: 700;
            padding: .5rem 0rem;
            @include tablet {
                font-size: 1.5rem;
                line-height: 1.375rem;
                font-weight: 700;
                padding: .75rem 4.625rem;
            }
            @include desktop {
                padding: .75rem 13.75rem;
                width: 90%;
            }
        }

        &--signature {
            margin: 0rem;
            font-size: .875rem;
            line-height: 1.375rem;
            font-weight: 700;
            padding: .5rem 0rem;
            @include tablet {
                font-size: 1.125rem;
                line-height: 1.375rem;
                font-weight: 600;
                padding: .75rem 4.625rem;
            }
            @include desktop {
                padding: .75rem 13.75rem;
            }
        }
    }    
}

.biography {
    padding: 0rem 1rem;
    @include tablet {
        padding: .75rem 5.625rem;
    }
    @include desktop {
        padding: .75rem 14.75rem;
    }
    &__title {
        @include mobile-sub-header {
            margin: 0rem;
            padding: .5rem 0rem; 
        }
        @include tablet {
            @include tablet-desktop-sub-header;
            padding: .75rem 0rem;
        }
    }

    &__content {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__paragraph {
        @include mobile-bodycopy {
            margin: 0rem;
            padding: .5rem 0rem;    
        }
        @include tablet {
            @include tablet-desktop-bodycopy {
                width: 47%;
            }  
        }
    }
}

.gallery {
    background-color: $secondary-alabaster;
    padding: 0rem 1rem;
    @include tablet {
        padding: 0rem 2.25rem;
    }
    @include desktop {
        padding: 0rem 9.375rem;
    }
    &__title {
        @include mobile-section-header {
            margin: 0rem;
            padding: 1.5rem 0rem .5rem;
        }
        @include tablet {
            @include tablet-desktop-section-header;
            padding: 2.25rem 0rem .875rem;
        }
    }

    &__images {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: .875rem;
        }
    }

    &__images > img {
        width: 100%;
        padding: .5rem 0rem;
        @include tablet {
            width: 31%;
            padding: .75rem 0rem;
        }
    }

    &__image {
        filter: grayscale(100%);
        &:hover {
            filter: none;
        }
    }
}

.conversation {
    padding: 0px 16px;
    
    @include tablet {
        padding: 0px 36px;
        
    @include desktop {
        padding: 0px 150px;
        }
    }

    &__title {
        @include mobile-section-header;
        margin: 0rem;
        padding: 1.5rem 0rem .5rem;
        
        @include tablet {
            @include tablet-desktop-section-header;
        }
    }

    &__container {
        display: flex;
        border-bottom: 1.5px solid $secondary-mercury;
        
        @include tablet { 
        margin: 0px 60px;
        }
        
        @include desktop {
            margin: 0px 240px;
        }
    }

    &__muhan-muruge-image {
        padding-top: 28px;
        margin-right: 16px;
    }

    &__muhan-muruge-image > img {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 30%;
        
        @include tablet {
            height: 48px;
            width: 48px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width:100%;
    }

    &__name {
        padding: 8px 0px;
    }

    &__label {
        color: $primary-silver;
        font-family: 'AvenirNext LT Pro';
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 4px 0px;
        
        @include tablet {
            font-size: 12px;
        }
    }

    &__input {
        height: 36px;
        width: 100%;
        border: 1.5px solid $secondary-mercury;
        border-radius: 4px;
        padding: 12px;
        
        @include tablet {
            height: 48px;
            padding: 16px;
        }
        
        &--comment {
            height: 100px;
        }
    }

    &__comment {
        padding: 10px 0px;
    }

    &__comment__btn {
        background-color: $primary-black;
        text-transform  : uppercase;
        text-align: center;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 24px;
        height: 40px;
        
        @include tablet {
            width: 150px;
            padding: 10px 32px;
            margin-left: auto;
        }
    }

    &__comment__btn > a {
        color: $primary-white;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
    }
}

.comment {
    padding: 0px 1rem;
    
    @include tablet {
        padding: 0px 96px;
    
    @include desktop {
        padding: 0px 390px;
        }
    }

    &__entry {
        border-bottom: 1.5px solid $secondary-mercury;
        padding-top: 16px;
        display: flex;
    }

    &__user-image {
        margin-right: 16px;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: $secondary-mercury;
        
        @include tablet {
            height: 48px;
            width: 48px;
        }
    }

    &__info {
        flex: 1;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        @include tablet {
            font-size: 14px;
        }
    }

    &__user__name {
        margin: 0px;
        color: $primary-black;
        font-weight: 600;
    }

    &__date {
        margin: 0px;
        color: $primary-silver;
        font-weight: 400;
    }

    &__text {
        @include mobile-bodycopy;
    }
}