@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Bold.woff) format("woff"), url(../assets/fonts/AvenirNextLTPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Demi.woff) format("woff"), url(../assets/fonts/AvenirNextLTPro-Demi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Regular.woff) format("woff"), url(../assets/fonts/AvenirNextLTPro-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.hero {
  background-image: url(../Assets/images/hero-bio.jpg);
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 90%;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  padding: 0rem 1rem;
  display: flex;
}
@media (min-width: 768px) {
  .hero {
    padding: 0rem 2.25rem;
    height: 60vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 70vh;
    padding: 0rem 9.375rem;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0rem;
  color: #ffffff;
  align-self: center;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}

.introduction {
  padding: 0rem 1rem;
}
.introduction__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0px;
  padding: 1.5rem 0rem 0.5rem;
}
@media (min-width: 768px) {
  .introduction__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding: 2.25rem 1rem 0.75rem;
  }
}
@media (min-width: 1280px) {
  .introduction__title {
    padding: 2.25rem 8.375rem 0.75rem;
  }
}
.introduction__img {
  width: 100%;
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .introduction__img {
    padding: 0.75rem 4.625rem;
  }
}
@media (min-width: 1280px) {
  .introduction__img {
    padding: 0.75rem 13.75rem;
  }
}
.introduction__img--text {
  margin: 0px;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .introduction__img--text {
    font-size: 1.5rem;
    line-height: 1.375rem;
    font-weight: 700;
    padding: 0.75rem 4.625rem;
  }
}
@media (min-width: 1280px) {
  .introduction__img--text {
    padding: 0.75rem 13.75rem;
    width: 90%;
  }
}
.introduction__img--signature {
  margin: 0rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .introduction__img--signature {
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 600;
    padding: 0.75rem 4.625rem;
  }
}
@media (min-width: 1280px) {
  .introduction__img--signature {
    padding: 0.75rem 13.75rem;
  }
}

.biography {
  padding: 0rem 1rem;
}
@media (min-width: 768px) {
  .biography {
    padding: 0.75rem 5.625rem;
  }
}
@media (min-width: 1280px) {
  .biography {
    padding: 0.75rem 14.75rem;
  }
}
.biography__title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin: 0rem;
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .biography__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 0.75rem 0rem;
  }
}
@media (min-width: 768px) {
  .biography__content {
    display: flex;
    justify-content: space-between;
  }
}
.biography__paragraph {
  font-size: 0.8125rem;
  line-height: 18px;
  font-weight: 400;
  margin: 0rem;
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .biography__paragraph {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    width: 47%;
  }
}

.gallery {
  background-color: #fafafa;
  padding: 0rem 1rem;
}
@media (min-width: 768px) {
  .gallery {
    padding: 0rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 0rem 9.375rem;
  }
}
.gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0rem;
  padding: 1.5rem 0rem 0.5rem;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding: 2.25rem 0rem 0.875rem;
  }
}
@media (min-width: 768px) {
  .gallery__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0.875rem;
  }
}
.gallery__images > img {
  width: 100%;
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .gallery__images > img {
    width: 31%;
    padding: 0.75rem 0rem;
  }
}
.gallery__image {
  filter: grayscale(100%);
}
.gallery__image:hover {
  filter: none;
}

.conversation {
  padding: 0rem 1rem;
}
@media (min-width: 768px) {
  .conversation {
    padding: 0rem 2.25rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .conversation {
    padding: 0rem 9.375rem;
  }
}
.conversation__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0rem;
  padding: 1.5rem 0rem 0.5rem;
}
@media (min-width: 768px) {
  .conversation__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
.conversation__container {
  display: flex;
  border-bottom: 1.5px solid #e1e1e1;
}
@media (min-width: 768px) {
  .conversation__container {
    margin: 0rem 3.75rem;
  }
}
@media (min-width: 1280px) {
  .conversation__container {
    margin: 0rem 15rem;
  }
}
.conversation__muhan-muruge-image {
  padding-top: 1.75rem;
  margin-right: 1rem;
}
.conversation__muhan-muruge-image > img {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30%;
     object-position: 30%;
}
@media (min-width: 768px) {
  .conversation__muhan-muruge-image > img {
    height: 3rem;
    width: 3rem;
  }
}
.conversation__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.conversation__name {
  padding: 0.5rem 0rem;
}
.conversation__label {
  color: #afafaf;
  font-family: "AvenirNext LT Pro", Arial, Helvetica, sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.25rem 0rem;
}
@media (min-width: 768px) {
  .conversation__label {
    font-size: 0.75rem;
  }
}
.conversation__input {
  height: 2.25rem;
  width: 100%;
  border: 1.5px solid #e1e1e1;
  border-radius: 4px;
  padding: 0.75rem;
}
@media (min-width: 768px) {
  .conversation__input {
    height: 3rem;
    padding: 1rem;
  }
}
.conversation__input--comment {
  height: 6.25rem;
}
.conversation__comment__btn {
  background-color: #323232;
  text-align: center;
  color: #ffffff;
  padding: 0.625rem;
  border-radius: 0.25rem;
  margin: 1rem 0rem;
  height: 2.5rem;
  text-transform: uppercase;
  font-size: 0.875;
  font-weight: 600;
  border: none;
}
@media (min-width: 768px) {
  .conversation__comment__btn {
    width: 9.375rem;
    padding: 0.625rem 2rem;
    margin-left: auto;
  }
}

.comment {
  padding: 0px 1rem;
}
@media (min-width: 768px) {
  .comment {
    padding: 0rem 6rem;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .comment {
    padding: 0rem 24.375rem;
  }
}
.comment__item {
  border-bottom: 1.5px solid #e1e1e1;
  padding-top: 1rem;
  display: flex;
}
.comment__user__image {
  margin-right: 1rem;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-color: #e1e1e1;
}
@media (min-width: 768px) {
  .comment__user__image {
    height: 3rem;
    width: 3rem;
  }
}
.comment__info {
  flex: 1;
}
.comment__header {
  display: flex;
  justify-content: space-between;
  font-size: 0.8125rem;
}
@media (min-width: 768px) {
  .comment__header {
    font-size: 0.875rem;
  }
}
.comment__user__name {
  margin: 0px;
  color: #323232;
  font-weight: 600;
}
.comment__date {
  margin: 0px;
  color: #afafaf;
  font-weight: 400;
}
.comment__text {
  font-size: 0.8125rem;
  line-height: 18px;
  font-weight: 400;
}/*# sourceMappingURL=bio.css.map */