@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Bold.woff) format("woff"), url(../assets/fonts/AvenirNextLTPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Demi.woff) format("woff"), url(../assets/fonts/AvenirNextLTPro-Demi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Regular.woff) format("woff"), url(../assets/fonts/AvenirNextLTPro-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  font-family: "AvenirNext LT Pro", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  color: #323232;
}

.header {
  color: #ffffff;
  background-color: #323232;
  text-align: center;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    padding: 0rem 2.25rem;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0rem 9.375rem;
  }
}
.header__logo--img {
  padding: 1rem 0rem 0.5rem;
  width: 7.5rem;
}
@media (min-width: 768px) {
  .header__logo--img {
    margin-right: 1.5625rem;
  }
}

.nav {
  font-size: 0.875rem;
}
.nav__list {
  margin: 0rem;
  padding: 0rem;
  display: flex;
  list-style: none;
}
.nav__item {
  width: 50%;
  padding: 0.5rem 0rem 1rem;
}
@media (min-width: 768px) {
  .nav__item {
    margin: 0rem 1.5rem;
    padding: 1.5rem 0rem;
  }
}
.nav__item--active {
  border-bottom: 3px solid #ffffff;
  font-weight: 600;
}
.nav__link {
  color: #ffffff;
  text-decoration: none;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 0rem 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 0rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 0rem 9.375rem;
  }
}

@media (min-width: 768px) {
  .social {
    display: flex;
    align-items: center;
  }
}
.social__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0px;
  padding: 1.5rem 0rem 0.5rem;
}
@media (min-width: 768px) {
  .social__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding: 2.25rem 0rem 0.75rem;
    width: 33.3%;
  }
}
@media (min-width: 1280px) {
  .social__title {
    width: 25%;
  }
}
.social__images {
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .social__images {
    padding: 2.25rem 0rem 0.75rem;
    width: 33.3%;
  }
}
@media (min-width: 1280px) {
  .social__images {
    width: 25%;
  }
}
.social__link {
  margin-right: 1.75rem;
}
@media (min-width: 768px) {
  .social__link > img {
    height: 1.5625rem;
  }
}

@media (min-width: 768px) {
  .contacts {
    display: flex;
  }
}
.contacts__representative {
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .contacts__representative {
    width: 33.3%;
  }
}
@media (min-width: 1280px) {
  .contacts__representative {
    width: 25%;
  }
}
.contacts__title {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 600;
  margin: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
}
.contacts__name {
  margin: 0rem;
}
.contacts__company {
  margin: 0rem;
}
.contacts__address {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.contacts__address > p {
  margin: 0rem;
}
.contacts__email {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding: 0.5rem 0rem;
}
@media (min-width: 768px) {
  .contacts__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.contacts__email > a {
  margin: 0rem;
  color: #ffffff;
  text-decoration: none;
}

.footer__logo--mobilie {
  margin-top: 1.5rem;
  padding: 1.5rem 0rem 0.5rem;
  width: 7.5rem;
}
.footer__logo--tablet {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo--tablet {
    width: 33%;
    padding: 2.25rem 0rem 0.75rem;
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .footer__logo--tablet {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .footer__logo--tablet > img {
    width: 7.5rem;
  }
}
@media (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}

.footer__copyright {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0rem;
  padding: 0.5rem 0rem 1.5rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding: 2.25rem 0rem;
  }
}/*# sourceMappingURL=global.css.map */