@use './partials/variable' as *;
@use './partials/mixins' as *;
@use './partials/fonts' as *;

.hero {
    background-image: url(../Assets/images/hero-shows.jpg);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 90%;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 55vh;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    @include desktop {
        flex-direction: row;
        align-items: center;
    }
    
    @include tablet {
        padding: 0rem 2.25rem;
        height: 100vh;
    }
    @include desktop {
        height: 80vh;
        padding: 0rem 9.375rem;
    }

    &__album {
        font-size: 14px;
        line-height: 1.1125rem;
        font-weight: 400;    
        margin: 0rem;
        color: $primary-third;
        margin-bottom: 16px;
        @include tablet {
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__song {
        @include mobile-hero-header;
        margin: 0rem;
        color: $primary-third;
        width: 70%;
        margin-bottom: 16px;
        @include tablet {
            @include tablet-desktop-hero-header;
            margin-bottom: 36px;
        }
        @include desktop {
            width: 85%;
        }
    }

    &__music {
        width: auto;
        height: 100px;
        @include tablet {
            width: 425px;
            height: 140px;
        }
    }
}

.show {
    @include tablet {
        padding: 0rem 2.25rem;
    }
    
    @include desktop {
        padding: 0rem 9rem;
        display: flex;
        &__section {
            flex-direction: column;
            padding: 2.25rem 0rem;
            width: 100%;
        }
    }

    &__header {
        margin: 0px;
        @include mobile-section-header;
        padding: 1.5rem 1rem .5rem;

        @include tablet {
            @include tablet-desktop-section-header
        }
        @include desktop {
            margin-right: 6.25rem;
        }
    }

    // " __sub__header--tablet__invisible to remove header from being display in mobile screen" //

    &__sub__header--tablet__invisible {
        display: none;
        
        @include tablet {
            display: flex;
        }
    }

    &__sub__header--tablet__invisible > p {
        padding: 0rem 1rem;
    }
    
    // " __sub__header--mobile__invisible to remove header from being display in tablet/desktop screen" //

    &__sub__header--mobile__invisible {
        @include tablet {
            display: none;
        }
    }

    &__list {
        padding: 0px;
        margin: 0px;
    }

    &__item {
        border-bottom: 1.5px solid $secondary-second;
        list-style: none;

        &:hover {
            background-color: $secondary-third;
        }

        &--clicked {
            background-color: $secondary-second;
            &:hover {
                background-color: $secondary-second;
            }
        }

        @include tablet {
            display: flex;
            align-items: center;
        }
    }

    &__date,
    &__venue,
    &__location {
        line-height: 1.125rem;
        padding: 0.25rem 1rem;
        
        @include tablet {
            width: 25%;
        }
    }

    &__sub__header {
        margin: 0px;
        color: $primary-second;
        font-family: 'AvenirNext LT Pro', Arial, Helvetica, sans-serif;
        font-size: .625rem;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0.25rem 0rem;
        width: 25%;
        
        @include tablet {
            font-size: .75rem;
        }
        
        @include desktop {
            font-size: .875rem;
        }
    }

    &__info {
        margin: 0rem;
        font-size: .8125rem;
        font-weight: 600;

        &--bolder {
            font-weight: 700;
        }
        
        @include tablet {
            font-size: .875rem;
        }
        
        @include desktop {
            font-size: 1rem;
        }
    }

    &__buy__ticket__btn {
        background-color: $primary-main;
        text-transform  : uppercase;
        text-align: center;
        padding: 0.625rem;
        border-radius: 0.25rem;
        margin: 1rem;
        height: 40px;
        
        &:hover {
            background-color: $secondary-first;
        }

        @include tablet {
            width: 9.375rem;
            margin-left: auto;
        }
    }

    &__buy__ticket__btn > a {
        color: $primary-third;
        font-size: 0.875rem;
        font-weight: 600;
        text-decoration: none;
    }
}