@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Bold.woff) format("woff"), url(../assets/fonts/AvenirNextLTPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Demi.woff) format("woff"), url(../assets/fonts/AvenirNextLTPro-Demi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.woff2) format("woff2"), url(../assets/fonts/AvenirNextLTPro-Regular.woff) format("woff"), url(../assets/fonts/AvenirNextLTPro-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.hero {
  background-image: url(../Assets/images/hero-shows.jpg);
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 90%;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 55vh;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
@media (min-width: 1280px) {
  .hero {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .hero {
    padding: 0rem 2.25rem;
    height: 100vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 80vh;
    padding: 0rem 9.375rem;
  }
}
.hero__album {
  font-size: 14px;
  line-height: 1.1125rem;
  font-weight: 400;
  margin: 0rem;
  color: #ffffff;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .hero__album {
    font-size: 24px;
    line-height: 32px;
  }
}
.hero__song {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0rem;
  color: #ffffff;
  width: 70%;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .hero__song {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
    margin-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  .hero__song {
    width: 85%;
  }
}
.hero__music {
  width: auto;
  height: 100px;
}
@media (min-width: 768px) {
  .hero__music {
    width: 425px;
    height: 140px;
  }
}

@media (min-width: 768px) {
  .show {
    padding: 0px 36px;
  }
}
@media (min-width: 1280px) {
  .show {
    padding: 0px 144px;
    display: flex;
  }
  .show__section {
    flex-direction: column;
    padding: 36px 0px;
    width: 100%;
  }
}
.show__header {
  margin: 0px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 24px 16px 8px;
}
@media (min-width: 768px) {
  .show__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .show__header {
    margin-right: 100px;
  }
}
.show__sub__header--tablet__invisible {
  display: none;
}
@media (min-width: 768px) {
  .show__sub__header--tablet__invisible {
    display: flex;
  }
}
.show__sub__header--tablet__invisible > p {
  padding: 0px 16px;
}
@media (min-width: 768px) {
  .show__sub__header--mobile__invisible {
    display: none;
  }
}
.show__list {
  padding: 0px;
  margin: 0px;
}
.show__item {
  border-bottom: 1.5px solid #e1e1e1;
  list-style: none;
}
.show__item:hover {
  background-color: #fafafa;
}
.show__item--clicked {
  background-color: #e1e1e1;
}
.show__item--clicked:hover {
  background-color: #e1e1e1;
}
@media (min-width: 768px) {
  .show__item {
    display: flex;
    align-items: center;
  }
}
.show__date, .show__venue, .show__location {
  line-height: 18px;
  padding: 4px 16px;
}
@media (min-width: 768px) {
  .show__date, .show__venue, .show__location {
    width: 25%;
  }
}
.show__sub__header {
  margin: 0px;
  color: #afafaf;
  font-family: "AvenirNext LT Pro";
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 4px 0px;
  width: 25%;
}
@media (min-width: 768px) {
  .show__sub__header {
    font-size: 12px;
  }
}
@media (min-width: 1280px) {
  .show__sub__header {
    font-size: 14px;
  }
}
.show__info {
  margin: 0px;
  font-size: 13px;
  font-weight: 600;
}
.show__info--bolder {
  font-weight: 700;
}
@media (min-width: 768px) {
  .show__info {
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .show__info {
    font-size: 16px;
  }
}
.show__buy__ticket__btn {
  background-color: #323232;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  margin: 16px;
  height: 40px;
}
.show__buy__ticket__btn:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .show__buy__ticket__btn {
    width: 150px;
    margin-left: auto;
  }
}
.show__buy__ticket__btn > a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}/*# sourceMappingURL=shows.css.map */